#container {
    width: 1000px;
    min-width: 1000px;
}

#contentPanel {
    float: left;
    width: 472px;
    height: 1360px;
    background-image: url(../MemorialTabletPrint/images/chaodu1.png);
    background-size: cover;
}

/*阳上人面板*/
#ysrPanel {

    float: left;
    width: 20%;
    height: 100%;

    text-align: center;
}

#ysrTopPart {
    width: 100%;
    height: 150px;
    font-size: 38px;
    margin-top: 500px;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-lr;
    line-height: 100px;
    /*用这个水平居中*/
}


#ysrName {
    width: 100%;
    height: 380px;
    font-size: 32px;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 100px;
    /*用这个水平居中*/
}

#ysrBottomPart {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 38px;
    writing-mode: vertical-lr;
    font-weight: bold;
    line-height: 100px;
    /*用这个水平居中*/
}

/*中间人面板*/
#namePanel {

    float: left;
    width: 60%;
    height: 100%;

}

#namePart {
    width: 100%;
    height: 400px;
    margin-top: 480px;
    /*
    background-color: rgba(255, 0, 0, 0.2);
    */
}

.nameColumn {
    float: left;
    width: 20%;
    height: 400px;
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 36px;
    line-height: 56px;
}

#familyPart {
    width: 100%;
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 283px;
    /*
    background-color: rgba(0, 255, 125, 0.2);
    */
}

/*地址面板*/
#addrPanel {

    float: left;
    width: 20%;
    height: 100%;

}

#addr {
    width: 100%;
    height: 850px;
    margin-top: 300px;
    writing-mode: vertical-lr;
    font-size: 32px;
    line-height: 94px;
    /*
    background-color: rgba(0, 255, 125, 0.2);
    */
}

@media print {

    /* 在打印时隐藏不需要打印的元素 */
    .no-print {
        display: none;
    }
}

#consolePanel {
    float: left;
    font-size: 20px;
    margin: 32px;
}

.option {
    margin-top: 16px;
}

/*选中;*/
.selected {
    border: 1px solid #e3393c;
    cursor: pointer;
    padding: 0px 4px;
}

/*未选中*/
.unSelected {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0px 4px;
}

#ysrTopInput{
    overflow: visible;
}

#illustrate {
    font-size: 14px;
}